@import "normalize";
@import "variables";
@import "mixins";

/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
	 Base styles: opinionated defaults
	 ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
	 Browser Upgrade Prompt
	 ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */

body {
	 font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

main {}

.aligncenter {
	display: block;
	text-align: center;
	margin: 0 auto;
}

//BUTTONS
.button,
.wp-block-button__link {
    display: inline-block;
	color: @color-black;
	font-weight: bold;
	padding: 0 2.3em;
    line-height: 2.7em;
	border: 2px solid @color-black;
	border-radius: .5rem;
	text-decoration: none;
	margin-bottom: 1em;

	> a {
		color: @color-black;
		text-decoration: none;
	}

	&.white {
		color: white;
		border-color: white;
	}
}

//.wp-block-group
div.block{
	overflow: auto;
	padding: @hspacing @wspacing;

	h1:first-of-type,
	h2:first-of-type,
	h3:first-of-type {
		margin: 0;
	}

	h1, h2 {
		font-size: 2em;
	}

	.sub-title {
		text-transform: uppercase;
		font-weight: 200;
		letter-spacing: .1em;
		margin: 0;
		padding-bottom: 1em;
	}
}

header.main-header {
    padding: 0 @wspacing;
    // background: rgba(256, 0, 0, 0.5);
    height: 6rem;

    display: flex;
    flex-flow: row wrap;
    align-items: center;

    div.identity {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    h1.logo {
        margin: 0;
        margin-right: 0.5em;
        a {
            span {
                display: none;
            }
            img {
                display: block;
                max-height: 2rem;
            }
        }
    }
    h2.title {
        //What we make
        span {display: none;}
        margin: 0;
    }
}



// PAGE PORTFOLIO
body.page-portfolio {

    main {

        section.portfolio {

            article.project {
                background-color: #ccc;
                position: relative;
                height: 100vh;
                width: 100vw;
                overflow: hidden;

                header {
                    position: relative;
                    z-index: 99;
                    padding: @hspacing @wspacing;
                    color: #fff;

                    h1 {
                        margin: 0;
                    }
                    a.button {
                        margin-top: 1.5em;
                    }
                }

                figure {
                    margin: 0;
                    position: absolute;
                    left: 0; right: 0; bottom: 0;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &:first-of-type {
                    // Remove the height of the .main-header in height of the first article
                    height: calc(100vh - 6rem);
                }
                &:nth-of-type(even) {
                    header {
                        text-align: right;
                    }
                }

				&.half {
					height: 50vh;
					background-color: red;
				}
            }
        }
    }
}


// POST PROJECT

body.single-portfolio {
	main {
		padding: 0 @wspacing;

		section {
			> figure {
				margin: @hspacing 0;
				overflow: hidden;

				img {
					width: 100%;
					height: auto;
				}
			}

			> h1, > h2 {
				font-size: 2em;
			}
		}

	}

	section.project {

		> header {
			overflow: auto;
			background-color: lightgrey;
			display: flex;
	        flex-flow: row wrap;
			align-items: baseline;
			margin: 0 -@wspacing;
			padding: @hspacing @wspacing 0 @wspacing;

			text-transform: uppercase;
			color: white;
			font-weight: 200;
			letter-spacing: .05em;

			h1 {
				margin: 0;
				padding-left: .2em;
				font-size: 1em;
				// font-weight: 200;
			}
		}
	}

	.project-cover {
		overflow: auto;
		margin: 0 -@wspacing @hspacing -@wspacing;
		padding: 1em @wspacing @hspacing @wspacing;

		h1, h2, h3 {
			margin: 0;
			font-size: 2rem;
		}
	}

	.testimonial {
		background: red;
	}
}
